:root {
  --scroll-container-height: 400px;
  --spacing: 2rem;
  --fish-img-size: 50px;
  --bar-height: 30px;
  --triangle-height: 30px;
}


.visually-hidden {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: clip;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}





/* MARK: Day scroll */
.day-scroll {
  padding: 10em 3em;

  .table-scroll-container {
    position: relative;
    width: 100%;
    max-height: var(--scroll-container-height);
    border-radius: var(--radius-card);

    overflow-x: clip;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-timeline: --scroll-container-timeline;

    .sticky-container {
      top: 0;
      width: 100%;
      height: var(--scroll-container-height);
      position: sticky;
      margin-bottom: calc(var(--scroll-container-height) * -1);
      z-index: 3;

      .water-visual {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: calc(var(--scroll-container-height) / 1.5);
        background: var(--color-teal);
        opacity: 0.7;
        pointer-events: none;
        z-index: 2;

        &::before {
          content: "";
          position: absolute;
          top: -20px;
          left: 0;
          width: 100%;
          height: 20px;

          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 20' preserveAspectRatio='none'%3E%3Cpath d='M 0 10 Q 150 15, 300 10 T 600 10 T 900 10 T 1200 10 L 1200 20 L 0 20 Z' fill='%231eacb0'/%3E%3C/svg%3E");
          background-size: 600px 20px;
          background-repeat: repeat-x;

          animation: wave-move 10s linear infinite;
        }
      }

      .moon,
      .sun {
        position: absolute;
        bottom: calc(var(--scroll-container-height)*-2);
        left: 50%;
        transform: translate(-50%, calc(var(--scroll-container-height)*-3 + 5rem));
        width: calc(var(--scroll-container-height)/10);
        aspect-ratio: 1;
        border-radius: 50%;
        pointer-events: none;
        z-index: 1;

        overflow: clip;
      }

      .moon {
        background-color: white;
        rotate: var(--rotation-moon);
        box-shadow: 0 0 1.5rem white;
        animation: moon-rotation linear;
        animation-timeline: --scroll-container-timeline;
        
        &::before {
          position: absolute;
          content: "";
          border-radius: 50%;
          aspect-ratio: 1;
          width: 25%;
          background: rgb(212, 212, 212);
          box-shadow:
            0 20px rgb(212, 212, 212),
            20px 25px rgb(212, 212, 212),
            25px 10px rgb(212, 212, 212);
        }
      }

      .sun {
        background-color: rgb(255, 235, 137);
        rotate: var(--rotation-sun);
        box-shadow: 0 0 1.5rem rgb(255, 235, 137);
        animation: sun-rotation linear;
        animation-timeline: --scroll-container-timeline;
      }
    }

    .background-visual {
      position: absolute;
      width: 100%;
      height: calc(var(--scroll-container-height)*24);
      top: 0;
      z-index: 1;
      background: linear-gradient(to bottom,
          var(--color-purple-dark-mode) 0%,
          var(--color-purple-dark-mode) 25%,

          var(--color-pink) 30%,
          var(--color-gold) 35%,

          lightblue 40%,
          lightblue 75%,

          var(--color-gold) 80%,
          var(--color-pink) 85%,

          var(--color-purple-dark-mode) 90%,
          var(--color-purple-dark-mode) 100%);
    }

    table {
      position: relative;
      width: 100%;
      border-collapse: separate;
      max-width: 600px;
      padding-inline: var(--spacing);
      justify-self: center;
      color: var(--color-off-white);
      z-index: 4;

      tr {
        scroll-snap-align: center;
        scroll-snap-stop: always;

        display: flex;
        gap: calc(var(--spacing)/2);
        align-items: center;
        min-height: var(--scroll-container-height);

        p {
          margin: 0;
        }

        .timestamp {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: calc(var(--scroll-container-height)/-1 + var(--spacing));
            left: 50%;
            width: 1px;
            height: calc(var(--scroll-container-height)/1 - var(--spacing));
            background: var(--color-off-white);
            opacity: .5;
          }
        }

        img {
          max-width: var(--fish-img-size);
          transform: scaleX(-1) translateX(calc(var(--fish-img-size)*-1));
          animation:
            wiggle 2s linear infinite,
            swim ease-in-out both;

          animation-timeline:
            auto,
            view(block);
          animation-composition: add;
        }

        .all-info {
          position: absolute;
          display: flex;
          flex-direction: column;
          right: 0;
          color: var(--color-green-dark);
          margin-right: var(--spacing);
          padding: calc(var(--spacing)/2);
          background: var(--color-off-white);
          border: 1px solid var(--color-off-white);
          border-radius: var(--radius-card);

          p:nth-of-type(1) {
            font: var(--text-p2);
          }

          p:nth-of-type(2) {
            font: var(--text-p1-bold);
          }

          p:nth-of-type(3) {
            font: var(--text-p2);
          }
        }
      }

      tr:last-child .timestamp::after {
        display: none;
      }
    }
  }
}


@property --rotation-moon {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@property --rotation-sun {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes wave-move {
    from {
      background-position-x: 0;
    }

    to {
      background-position-x: 600px;
    }
  }

  @keyframes wiggle {

    0%,
    100% {
      transform: translateY(0) scaleX(-1) rotate(-2deg);
    }

    50% {
      transform: translateY(-4px) scaleX(-1) rotate(2deg);
    }
  }

  @keyframes swim {
    0% {
      transform: translateX(-100dvw) translateY(calc(var(--scroll-container-height)/2*-1)) scaleX(-1) scale(0.6);
    }
    50% {
      transform: translateX(0)  translateY(0) scaleX(-1) scale(calc(clamp(0.6, 0.6 + (var(--fish-length) * 0.05), 2.5)));
    }
    100% {
      transform: translateX(100dvw) translateY(calc(var(--scroll-container-height))) scaleX(-1) scale(0.6);
    }
  }


  @keyframes moon-rotation {
    0% {
      --rotation-moon: 0deg;
    }

    40% {
      --rotation-moon: 40deg;
    }

    52% {
      --rotation-moon: 180deg;
        /* 12 uur smiddags */
    }

    60% {
      --rotation-moon: 270deg;
    }

    100% {
      --rotation-moon: 360deg;
    }
  }

    @keyframes sun-rotation {
      0% {
        --rotation-sun: 180deg;
      }

      20% {
        --rotation-sun: 320deg;
      }

      52% {
        --rotation-sun: 360deg;
          /* 12 uur smiddags */
      }

      90% {
        --rotation-sun: 400deg;
      }

      100% {
        --rotation-sun: 540deg;
      }
    }
}







  /* MARK: Scroll-driven table */
  .scroll-driven {
    padding: 10em 3em;
    background: var(--color-green-dark);
    padding-bottom: 20rem;

    >p,
    h2 {
      color: var(--color-gold-light);
    }

    table {
      background: var(--color-gold-light);
      width: 100%;
      padding: var(--spacing);
      border-radius: var(--radius-card);
      table-layout: auto;

      caption {
        font: var(--text-p2-bold);
      }

      thead {
        background-color: var(--color-purple);
      }

      tr {
        position: relative;

        .timestamp {
          width: 1%;
          white-space: nowrap;
          padding-right: 1em;
        }

        td:has(.bar-fill) {
          position: relative;
          padding-right: var(--fish-img-size);

          .bar-fill {
            height: var(--bar-height);
            background-color: var(--color-purple);

            display: flex;
            align-items: center;

            transition: all .2s;

            transform-origin: left center;

            animation: scale-in linear;
            animation-timeline: view();
            animation-range: cover 5% cover 30%;
            /* https://scroll-driven-animations.style/tools/view-timeline/ranges/#range-start-name=contain&range-start-percentage=0&range-end-name=contain&range-end-percentage=100&view-timeline-axis=block&view-timeline-inset=0&subject-size=smaller&subject-animation=reveal&interactivity=clicktodrag&show-areas=yes&show-fromto=yes&show-labels=yes */
            animation-fill-mode: both;

            .amount {
              margin-left: auto;
            }
          }

          img {
            position: absolute;
            right: 0;
            max-width: var(--fish-img-size);
            transform: scaleX(-1);

            animation: swim-to-side linear;
            animation-timeline: view();
            animation-range: cover 5% cover 30%;
            animation-fill-mode: both;
            transform-origin: right center;

            anchor-name: --fish;
          }

          .tooltip {
            position: absolute;
            z-index: 10;
            opacity: 0;
            pointer-events: none;
            background-color: var(--color-off-white);
            padding: 10px;
            border-radius: var(--radius-card);
            white-space: normal;
            width: max-content;
            max-width: clamp(200px, 50%, 600px);

            position-anchor: --fish;
            position-area: top right;

            transform: translateY(calc(-100%));
            margin-bottom: var(--triangle-height);

            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: calc(-1 * var(--triangle-height) / 2);
              width: var(--triangle-height);
              aspect-ratio: 1;
              background-color: var(--color-off-white);
              clip-path: polygon(0 0, 100% 0, 0 100%);
              z-index: -1;
              pointer-events: none;
            }
          }

          &:hover {
            .bar-fill {
              background-color: var(--color-purple-dark-mode);
              color: var(--color-off-white);
            }

            .tooltip {
              opacity: 1;
            }
          }
        }
      }

      & * {
        text-align: start;
      }
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    @keyframes scale-in {
      from {
        transform: scaleX(0);
      }

      to {
        transform: scaleX(1);
      }

    }

    @keyframes swim-to-side {
      0% {
        transform: translateY(-6%) rotate(-4deg) scaleX(-1);
      }

      10% {
        transform: translateY(8%) rotate(3deg) scaleX(-1);
      }

      20% {
        transform: translateY(-10%) rotate(-4deg) scaleX(-1);
      }

      30% {
        transform: translateY(7%) rotate(4deg) scaleX(-1);
      }

      40% {
        transform: translateY(-8%) rotate(-3deg) scaleX(-1);
      }

      50% {
        transform: translateY(10%) rotate(4deg) scaleX(-1);
      }

      60% {
        transform: translateY(-7%) rotate(-4deg) scaleX(-1);
      }

      70% {
        transform: translateY(8%) rotate(3deg) scaleX(-1);
      }

      80% {
        transform: translateY(-6%) rotate(-4deg) scaleX(-1);
      }

      90% {
        transform: translateY(4%) rotate(2deg) scaleX(-1);
      }

      100% {
        transform: translateY(0%) rotate(-4deg) scaleX(-1);
      }
    }
  }