/* MARK: Variatie 1 */


:root{
  --spacing: 2em;
}

section {
  padding: 10em 3em;
  > p:nth-of-type(2){
    font:  var(--text-p2-bold);
    margin-bottom: 0;
  }

}

.timeline-container {
  position: relative;
  background-color: var(--color-gold-light);
  border-radius: var(--radius-card);
  padding: 2em;
  overflow: hidden;
}

.legend{
  display: flex;
  align-items: center;
  gap: .3em;
  p{
    margin: 0;
  }
  img{
    object-fit: contain;
    width: 50px;
    transform: scaleX(-1);
  }
  overflow: hidden;
}


.bars {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(60px, 80px);

  align-items: end;

  overflow-x: auto;
  overflow-y: visible;

  transition: transform 0.4s ease;
  will-change: transform;
}

.timeline-controls {
  margin-top: 1em;
  display: flex;
  gap: 1em;
  justify-content: center;

  overflow-x: auto;
  overflow-y: visible;

  transition: transform 0.4s ease;
  will-change: transform;
}

.bar-col {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-bottom: var(--spacing);
}

.bar-count{
  position: absolute;
  width: 100%;
  border-top: solid 1px var(--color-green-dark);
  bottom: 0;
  text-align: center;
  &:before{
    content: "";
    position: absolute;
    background: var(--color-green-dark);
    width: 1px;
    height: 5px;
    top: -5px;
    left: 0;
  }
}

.bar-fill {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center top;
  anchor-name: --fish-anchor;

  img{
    transform: scaleX(-1);
  }
}

.bar-fill:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.tooltip {
  position: absolute;
  position-anchor: --fish-anchor;
  position-area: top center;
  position-try:
    top center,
    top right,
    top left,
    bottom center;
  bottom: calc(100% - var(--spacing) + 5px);
  background-color: #C0A8FF;
  padding: .1em .3em;
  border-radius: 999px;
  white-space: nowrap;
  transition: all .2s;
  opacity: 0;
}

.bar-col:hover .tooltip {
  opacity: 1;
}


/* MARK: Variatie 2 */
section:nth-of-type(2){
  background: var(--color-purple);

  .bar-fill, .legend{
  img{
    filter:
      grayscale(1)
      contrast(1.4) 
      brightness(1.1)
      sepia(1)
      hue-rotate(280deg)
      saturate(8)
      brightness(1.2);

    mix-blend-mode: multiply;

    opacity: .4;
  }
}

  .timeline-controls{
    justify-content: start;
    align-items: center;
    .btn{
      background: transparent;
      aspect-ratio: 1;
      height: auto;
    }
    div{
      width: 100%;
      height: 1px;
      background: var(--color-green-dark);
    }
  }
}


/* MARK: Variatie 3 */
section:nth-of-type(3){
  background: var(--color-green-dark);
  > p, h2 {
    color: var(--color-gold-light);
  }
  table{
    background: var(--color-gold-light);
    width: 100%;
    caption{
      font: var(--text-p2-bold);
    }
    /* tr:nth-of-type(2n){
      background-color: var(--color-off-white);
    } */
    td img{
      max-width: 50px;
      transform: scaleX(-1);
    }
    & *{
      text-align: start;
    }
  }
}
