* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --spacing: 3em;
}

body {
  color: #01463C;
  background-color: #F8E7CD;
}
main {
  margin: 2em;
}

p {
  margin-bottom: 1.5rem;
}

.timeline-container {
  position: relative;
  background-color: aqua;
  border-radius: 1em;
  padding: 2em;
}

.bars {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  align-items: end;
  min-height: clamp(220px, 42vw, 320px);
}

.bar-col {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: var(--spacing);
  border-bottom: #01463C solid 1px;
}

.bar-count{
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
}

.bar-fill {
  width: 100%;
  transition: all .2s;
  background-image: url(../images/visdeurbel-logo.svg);
  background-size: contain;
}

.bar-fill:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.tooltip {
  position: absolute;
  bottom: calc(100% - var(--spacing) + 5px);
  background-color: #C0A8FF;
  color: #01463C;
  padding: .1em .3em;
  border-radius: 999px;
  white-space: nowrap;
  transition: all .2s;
  opacity: 0;
}

.bar-col:hover .tooltip {
  opacity: 1;
}
